*.com
*.lst
*.map
*.obj
crackme/cracker/cracker
crackme/cracker/Obj/
crackme/cracker/artem_crackme/
crackme/artem_crackme/CRACK_MY.id0
crackme/artem_crackme/CRACK_MY.i64
crackme/artem_crackme/CRACK_MY.nam
crackme/artem_crackme/CRACK_MY.id1
crackme/artem_crackme/CRACK_MY.til
